
.a
{
color: #00adb5;
font-family: 'Karantina', cursive;
margin: 10px 20px;
text-decoration: none;
}
.container-1
{
background-image: url("https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80");
font-family: 'Karantina', cursive;
background-size: auto;
height: 500px;
font-size: 360%;
margin-right: 0;
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
background-color: #eeeeee;
}
.profile-photo
{
  border-radius: 50%;
}
.horizontal-rule-1
{
  border-style: dotted none none;
  border-color: #687980;
  border-width: 20px;
  width: 30%;
  margin:100px;
  display: inline-block;
  position: relative;
  left: 450px;
}
.container-2
{
  background-color: #aad8d3;
  font-family: 'Karantina', cursive;
  font-size: 3.6em;
  text-align:center;
}
.horizontal-rule-2
{
  border-style: dotted none none;
  border-color: #687980;
  border-width: 20px;
  width: 30%;
  margin:100px;
  display: inline-block;
  position: relative;
  left: 450px;
}
.container-3
{
  font-family: 'Karantina', cursive;
  width: 100%

}
.existing-project
{
  font-size: 8.82em;
  text-align: center;
  color: #00adb5;
}
.national-level
{
  font-size: 6.75em;
  text-align: center;
  color: #00adb5;
}
.Unordered-list-1
{
  font-size: 2.7em;
  text-align: center;
  color: #00adb5;
  margin: 10px 20px;

}
.one
{
  color: #00adb5;
  font-family: 'Karantina', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
.two
{
  color: #00adb5;
  font-family: 'Karantina', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
.three
{
  color: #00adb5;
  font-family: 'Karantina', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
.project-graduation
{
  font-size: 4.5em;
  text-align: center;
  color: #00adb5;
}
.project-1
{
height: 360px;
  width: 100%;
}
.three-axis-milling-machine
{
  font-family: 'Karantina', cursive;
  font-size: 7.72em;
  display: inline-block;
  position: relative;
  float: left;
  color: #00adb5;
}
.three-axis-milling-machine-picture
{
  font-family: 'Karantina', cursive;
  position: relative;
  display: inline-block;
  float: right;
  align-items: baseline;
  height: 360px;
  width: 360px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 8px;
}
.project-2
{
  height: 360px;
  width: 100%;
}
.forging-robot
{
  font-family: 'Karantina', cursive;
  font-size: 7.72em;
  position: relative;
  display: inline-block;
  float: right;
  color: #00adb5;
  }
.forging-robot-picture
{
  font-family: 'Karantina', cursive;
  position: relative;
  display: inline-block;
  float: left;
  height: 360px;
  width: 360px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 8px;
}
.project-3
{
  height: 360px;
  width: 100%;
}

.robotic-arm
{
  font-family: 'Karantina', cursive;
  font-size: 7.72em;
  position: relative;
  display: inline-block;
  text-align: left;
  color: #00adb5;
}
.robotic-arm-picture
{
  font-family: 'Karantina', cursive;
  position: relative;
  display: inline-block;
  float: right;
  align-content: space-between;
  height: 360px;
  width: 360px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;

}
.project-4
{
  height: 360px;
  width: 100%;
}
.electric-skateboard
{
  font-family: 'Karantina', cursive;
  font-size: 7.72em;
  position: relative;
  display: inline-block;
  float: right;
  color: #00adb5;
}
.electric-skateboard-picture
{
  font-family: 'Karantina', cursive;
  position: relative;
  display: inline-block;
  float: left;
  height: 360px;
  width: 360px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 8px;
}
.horizontal-rule-3
{
  border-style: dotted none none;
  border-color: #687980;
  border-width: 20px;
  width: 30%;
  margin:100px;
  display: inline-block;
  position: relative;
  align-items: center;
}
.conatiner-4
{
  background-color: #aad8d3;
  font-family: 'Karantina', cursive;
  text-align: center;
  font-size: 360%;
  height: 540px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 10px;
  border-bottom: 10px;
  border-right: 10px;
  border-left: 10px;
}
.horizontal-rule-4
{
  border-style: dotted none none;
  border-color: #687980;
  border-width: 20px;
  width: 30%;
  margin:100px;
  display: inline-block;
  position: relative;
  left: 450px;
}
.Container-5
{
  font-family: 'Karantina', cursive;
  text-align: center;
  font-size: 4.5em;
  color: #00adb5;
}
.image-1
{

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.imgae-2
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.image-3
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.image-4
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.image-5
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.image-6
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.image-7
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.image-8
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.image-9
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.image-10
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.image-11
{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.container-6
{
  color: #00adb5;
  font-family: 'Karantina', cursive;
  font-size: 4.5em;
  text-align: center;
}
.instagram-link
{
  color: #00adb5;
  font-family: 'Karantina', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
.text-textarea
{
  height: 45px;
  width: 72px;
}
.client-Name
{
  height: 15px;
  width: 27px;
}
.button
{
  font-family: 'Karantina', cursive;
  color: #00adb5;
  font-size: 1.5em;
  padding: 15px 27px;
  .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
}
